[submodule "Translation-Library-Python"]
	path = Translation-Library-Python
	url = https://github.com/payne1778/Translation-Library-Python
[submodule "Translation-Library-Java"]
	path = Translation-Library-Java
	url = https://github.com/payne1778/Translation-Library-Java
